@font-face {
  font-family: "VT323";
  src: url("./VT323.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("imgs/soli-bg.png");
  background-repeat: repeat;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: "VT323";
  font-size: 21px;
  font-weight: lighter;

}

.mobile-rules {
  display: none;
}

.tagline {
  margin-bottom: 35px;
  line-height: 115%;
  color: white;
  font-style: italic;
  overflow: wrap;
}

.tagline a {
  color: lime;
}

img {
  border: none;
}


.headline {
  text-align: center;
}

.full-gameboard {
  display: flex;
  margin: 15px;
}

@media screen and (max-width:1000px) {
  .full-gameboard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #deck-of-cards {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    justify-content: center;
  }
  #instructions {
    display: none !important;
  }
  #game-grid {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    justify-content: center;
  }
  .mobile-rules {
    display: block;
  }
  #score-keeper {
    margin-left: 12px;
  }
  .card-clickable {
    margin: 1px !important;
    background-image: none !important;
    background: rgba(172, 255, 48, 0.733) !important;
  }
 }


 @media screen and (max-width:550px) {
  img {
    width: 80px;
  }
  .card-clickable {
    margin: 1px !important;
    background-image: none !important;
    background: rgba(172, 255, 48, 0.733) !important;
  }
 }


 @media screen and (max-width:425px) {
  img {
    width: 60px !important;
  }
  .card-clickable {
    
    background-image: none !important;
    background: rgba(172, 255, 48, 0.733) !important;
  }
  :root {
    font-size: 12px !important;
  }
 }

#instructions {
  display: block;
  padding: 10px 35px 35px 35px;
  width: 30%;
  max-height: 90vh;
  background-color: rgba(167, 255, 49, 0.6);
  border: 2px solid black;
  border-radius: 25px;
  overflow-y: scroll;

}

#game-grid {
  width: 60%;

}

#deck-of-cards {
  width: 200px;
}

#instructions p {
  margin: 0;
}

.collapsed-rules {
  display: none;
}

.expanded-rules {
  display: block;
}

.stronk {
  font-weight: bold;
}

.button {
  padding: 7px;
  border-color: green;
  border-radius: 10px;
  background-color: rgb(167, 255, 49);
}

.card {
  border: none;
  background-color: transparent;

}

.card-clickable {
  background-image: url(imgs/card-clickable.png);
  background-color: transparent;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  margin: 0;
  display: flex;
  justify-content: center;
}

.tutorial-container {
  width: 85%;
  height: 85%;
  background-color: rgb(0, 0, 0);
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorial-button {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

#rules {
  color: white;
}